@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&family=League+Gothic&family=League+Spartan:wght@400;600&display=swap');

body{
    margin: 0;
    background-color: #fffafa;
}

/*header*/
#header{    
    width: 100%;
    height: 15%;
    margin: 0px;
    display: flex;
    background-color: #ffe3dc;
    justify-content: center;
}

.topnav{
    overflow: hidden;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.014);
}

.topnav a{
    display: block;
    width: 130px;
    color: #391463;
    text-align: center;
    font-family: 'Asap Condensed';
    font-size: 20px;
    font-weight: 600;
    padding: 1px 10px;
    margin: 0px 10px;
    text-decoration: none;
}

.topnav img{
    flex: 1;
    margin: auto;
    height: auto;
    align-self: center;
    width: 60%;
    display: block;
}

.topnav .dropbtn{
    font-size: 20px;
    border: none;
    font-family: 'Asap Condensed';
    color: #391463;
    outline: none;
    margin-right: 20px;
    padding: 1px 10px;
    background-color: inherit;
    margin: 0;
}

.dropSContent{
    display: none;
    position: absolute;
    background-color: #ffe3dc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.dropbtn:hover + .dropSContent{
    display: block;
}

.dropSContent a{
    float: none;
    color: #391463;
    padding: 5px;
    display: block;
    text-align: left;
}


.dropbtn i{
    margin-left: 5px;
    font-size: 15px;
  }

.dropSContent a:hover{
    background-color: #738d8d;
    color: white;
}

.topnav a.active{
    background-color: #391463;
    color: white;
}

.topnav a:hover, .dropdownSeries a:hover .dropbtn{
    background-color: #ea526f;
    color: #391463;
}

.topnav .icon{
    display: none;
}

/*content*/
.content{
    width: 100%;
    height: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.focus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.focus img{
    width: 70%;
    height: 50%;
    margin: 15px 0px;
}

.focus h1{
    font-family: 'League Gothic';
    font-size: 38px;
    font-weight: 600;
    color: #391463;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#subtitle-focus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self:normal;
    margin: 15px 0px;
}

#subtitle-focus h4{
    font-family: 'League Spartan';
    font-size: 20px;
    font-weight: 600;
    color: #ea526f;
    margin: auto;
}

.focus button{
    font-size: 20px;
    border: none;
    font-family: 'Asap Condensed';
    color: white;
    outline: none;
    font-weight: 400;
    margin-right: 20px;
    padding: 1px 10px;
    background-color: #ea526f;
    margin: 15px 0;
    align-self: center;
}

.focus i{
    margin: 0 3px;
}

/*colunas*/
.part1{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 68%;
    height: auto;
}


.part2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    max-width: 25%;
    height: auto;
    padding-right: 15px;
}

.post p{
    font-family: 'League Spartan';
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin: 20px 10px 20px;
}

#elenco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin: 20px 0px;
    overflow: hidden;
}

.actor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actor img{
    width: 10%;
}

.actor a{
    text-decoration: none;
    font-family: 'League Gothic';
    font-size: 15px;
    text-align: center;
    color: black
}

.actor:hover h6{
    background-color: #ea526f;
    color: white;
}




/*footer*/
.footer{
    width: 100%;
    height: 30%;
    margin: 0;
    background-color: #ffe3dc;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
.footer h3{
   font-family: 'League Gothic';
   font-size: 20px;
   text-align: center;
   color: #738d8d;
   margin-right: 10px;
   -webkit-text-stroke-width: 0.2px;
   -webkit-text-stroke-color: black;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
      
.footer a{
    text-decoration: none;
    font-size: 20px;
    color: #391463;
    margin: -5px 10px 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


    